<h2>
  Update products
</h2>
<form
  id="Product"
  name="Product"
  #productData="ngForm"
  (ngSubmit)="updateProduct(productData.value)"
>
  <label>
    Name:
  </label>
  <input
    type="text"
    name="name"
    id="name"
    placeholder="name"
    [(ngModel)]="data.name"
  /><br />
  <label>
    Color:
  </label>
  <input
    type="text"
    name="color"
    id="color"
    placeholder="color"
    [(ngModel)]="data.color"
  />
  <br />
  <input type="submit" value="update Product" />
</form>
